    @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: "karla", sans-serif;
        background-color: #d2ebff;
        font-size: 16px;
    }
    
    .content {
        min-height: 100vh;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    
    .hero {
        justify-self: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    header {
        background-color: #ffffff;
        align-self: flex-end;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    main {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        color: hsl(204, 43%, 93%);
    }
    
    .head {
        padding: 3em;
    }
    
    .head h1 {
        color: hsl(179, 62%, 43%);
        margin-bottom: 1em;
    }
    
    .head h3 {
        color: hsl(71, 73%, 54%);
        margin-bottom: 0.9em;
        font-weight: 600;
    }
    
    .head p {
        color: hsl(218, 22%, 67%);
        line-height: 1.5em;
        padding-right: 2em;
    }
    
    .payment {
        gap: 1em;
        width: 50%;
        background-color: #2bb3b1;
        display: flex;
        padding: 2.2em;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-left-radius: 10px;
    }
    
    .pay {
        color: #8fddee;
        display: flex;
        align-items: center;
    }
    
    span {
        color: hsl(204, 43%, 93%);
        font-size: 2em;
        font-weight: 600;
        padding-right: 0.2em;
    }
    
    button {
        font-family: "karla", sans-serif;
        background-color: #fff;
        padding: 1.1em;
        margin: 1em;
        border: 1px;
        border-radius: 7px;
        font-size: 1em;
        font-weight: 600;
        color: hsl(88, 100%, 24%);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: 0.5s;
    }
    
    button:hover {
        cursor: pointer;
        color: #fff;
        background-color: #bfdf32;
    }
    
    .why {
        width: 50%;
        padding: 2.2em;
        background-color: #4abebd;
        border-bottom-right-radius: 10px;
    }
    
    .why h3 {
        margin-bottom: 1em;
    }
    
    .why p {
        margin-bottom: 0.5em;
        color: #aafafb;
        font-size: 0.9em;
        font-weight: 400;
    }
    
    @media only screen and (max-width: 716px) {
        .content {
            display: grid;
            justify-content: center;
            align-items: center;
            margin: 5em 0em;
        }
        .hero {
            width: 80%;
        }
        .head {
            padding: 2.5em;
        }
        main {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
        }
        main>div {
            min-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .payment {
            border-radius: 0;
        }
        button {
            align-self: center;
            width: 100%;
        }
        .why {
            border-bottom-left-radius: 10px;
        }
    }
    
    @media only screen and (max-width:316px) {
        .content {
            display: grid;
            justify-content: center;
            align-items: center;
            margin: 5em 0em;
        }
        .head {
            padding: 2em;
        }
        .head p {
            padding-right: 0;
        }
        main {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
        }
        main>div {
            min-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .payment {
            border-radius: 0;
        }
        button {
            align-self: center;
            width: 100%;
        }
        .why {
            border-bottom-left-radius: 10px;
        }
    }